# Gradle / Kotlin
.kotlin
.gradle
**/build/
!src/**/build/
local.properties
*.iml
.idea

# Xcode
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
DerivedData/
.build/

# Android
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
output.json
*.jks
*.keystore
google-services.json
*.hprof

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

node_modules/

!README.md
!DESIGN_SYSTEM.md
